* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 16px;
}

body {
    color: #000000;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

img {
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited,
a:focus,
a:hover,
a:active {
    text-decoration: none;
    color: #000000;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    margin: 0;
    opacity: 0.5;
}

ul {
    list-style-type: none;
    padding-left: 30px; 
    font-weight: 700;
}

li {
    margin-bottom: 10px;
    margin-top: -10px;
}