<div class="navbar">
  <div class="nav-content">
    <div>
      <h1 class="nav-head">
        <a href="{{ site.url }}">{{ site.title }}
          <span class="decor">.</span>
        </a>
      </h1>
    </div>

    <nav id="nav" class="nav-menu">
      <ul class="nav-menu-table">

        <li class="nav-item {% if page.url == '/about.html' %}active{% endif %}">
          <a href="about">
            About
          </a>
          <hr>
        </li>

        <li class="nav-item {% if page.url == '/projects.html' %}active{% endif %}">
          <a href="projects">
            Projects
          </a>
          <hr>
        </li>

        <li class="nav-item {% if page.url == '/design.html' %}active{% endif %}">
          <a href="design">
            Design
          </a>
          <hr>
        </li>

        <li class="nav-item {% if page.url == '/contact.html' %}active{% endif %}">
          <a href="contact">
            Contact
          </a>
          <hr>
        </li>

      </ul>
    </nav>

  </div>

  <div class="social">
    <a href="https://github.com/{{ site.github_username }}">
      <i class="fab fa-github fa-lg"></i>
    </a>
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
      <i class="fab fa-linkedin fa-lg"></i>
    </a>
  </div>

  <p class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  <i class="fas fa-bars menu-icon" onclick="toggleMenu()"></i>
</div>